* {
padding: 0;
margin: 0;
font-family: sans-serif;
box-sizing: border-box;
}   

.container {
height: 100vh;
width: 100%; 
background-image: url('../images/output.png');
background-size: cover;
background-position: center;
}



nav {
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 12px;
padding-left: 8%;
padding-right: 8%;
padding-bottom: 11px;
background-color: transparent;
box-shadow: 0px 0px 30px black;
}

.logo {
color: white;
background-color: transparent;
font-size: 35px;
letter-spacing: 1px;
cursor: pointer;
}

a {
    background-color: transparent;
}


ul {
    background-color: transparent;
}


nav ul li {
background-color: transparent;
list-style-type: none;
display: inline-block;
padding: 10px 25px;
font-size: 20px;
}

nav ul li a {
color: white;
text-shadow: 0px 0px 30px black;
text-decoration: none;
font-weight: bold;
padding: 6px 15px;
padding-left: 10px;
text-transform: capitalize;
}

nav ul li a:hover {
color: black;
transition: .4s;
text-shadow: 0px 0px 30px white;
}

.button {
background-color: #ffeebe;
color: black;
text-decoration: none;
border: 2px solid transparent;
border-radius: 30px;
font-weight: bold;
padding: 15px 15px;
transition: transform .4s;
}

.button:hover {
transform: scale(1.2);
}

.content {
background-color: transparent;
position: absolute;
top: 50%;
left: 4%;
}

h1 {
background-color: transparent;
color: #222323;
text-shadow: 0px 0px 10px #ffeebe;
margin: 20px 0px 20px;
font-size: 60px;
}

.h33 {
background-color: transparent;
color: #222323;
text-shadow: 0px 0px 10px #ffeebe;
font-size: 40px;
margin-bottom: 50px;
}

h4 {
background-color: transparent;
color: #ffeebe;
text-shadow: 0px 0px 10px black;
letter-spacing: 2px;
font-size: 20px;
}

.newsletter {
    background-color: transparent;
}

.newsletter form {
background-color: transparent;
width: 380px;
max-width: 100%;
position: relative;
}

.newsletter form input:first-child {
background-color: black;
display: inline-block;
width: 100%;
padding: 14px 130px 14px 15px;
border: 2px solid #ffeebe;
outline: none;
border-radius: 30px;
}

.newsletter form input:last-child {
position: absolute;
display: inline-block;
outline: none;
border: none;
padding: 10px 30px;
border-radius: 30px;
background-color: #ffeebe;
color: #0a0e11;
box-shadow: 0px 0px 5px #0a0e11, 0px 0px 15px #0a0e11;
top: 6px;
right: 6px;
cursor: pointer;
}

.about {
width: 100%;
padding: 100px 0px;
background-color: #0a0e11;
}

.about img {
height: auto;
width: 430px;
}

.about-text {
background-color: #0a0e11;
width: 550px;
}

.main {
background-color: #0a0e11;
width: 1130px;
max-width: 95%;
margin: 9px auto;
display: flex;
align-items: center;
justify-content: space-around;
}

.about-text h2 {
color: #ffeebe;
background-color: #0a0e11;
font-size: 75px;
text-transform: capitalize;
margin-bottom: 20px;
}

.about-text h5 {
color: #ffeebe;
background-color: #0a0e11;
letter-spacing: 2px;
font-size: 25px;
margin-bottom: 25px;
text-transform: capitalize;
}

section div div h3 {
    color: #0a0e11;
    background-color: #0a0e11;
    text-shadow: 0px 0px 10px #ffeebe;
    font-size: 40px;
}

.about-text p{
color: #ffeebe;
background-color: #0a0e11;
letter-spacing: 1px;
line-height: 28px;
margin-bottom: 25px;
text-transform: capitalize;
}


button {
background-color: #ffeebe;
color: #0a0e11;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 13px 30px;
border-radius: 30px;
transition: .4s;
}

button:hover {
color: #ffeebe;
background-color: #0a0e11;
border: 2px solid #ffeebe;
cursor: pointer;
}

.service {
background-color: #0a0e11;
width: 100%;
padding: 100px 0px;
}

section::after {
content: "Go on";
width: 100%;
height: 100%;
background: #0a0e11;
position: absolute; 
clip-path: circle(20% at left 18%);
}

.contact-me::after {
content: "Go on";
width: 100%;
height: 100%;
background-color: #0a0e11;
position: absolute; 
clip-path: circle(20% at right 35%);
}

.title h2 {
color: #ffeebe;
text-shadow: 0px 0px 20px #0a0e11;
font-size: 75px;
width: 1130px;
margin: 30px auto;
text-align: center;
}

.service {
background-color: #ffeebe;
}

.box {
background-color: #ffeebe;
display: flex;
justify-content: center;
align-items: center;
min-height: 550px;
}

.card {
height: 380px;
width: 335px;
padding: 20px 35px;
background-color: #0a0e11;
border-radius: 20px ;
margin: 15px;
position: relative;
overflow: hidden;
text-align: center;
box-shadow: 0px 0px 30px #0a0e11;
transition: box-shadow .6s, transform .6s;
}

.card:hover {
background-color: #0a0e11;
transition: .6s;
transform: scale(1.1);
}

.card i {
font-size: 40px;
display: block;
text-align: center;
margin: 25px 0px;
color: #ffeebe;
background-color: #0a0e11;
}

h5 {
color: #ffeebe;
background-color: #0a0e11;
font-size: 23px;
margin-bottom: 15px;
}

.pra p{
color: #ffeebe;
background-color: #0a0e11;

font-size: 16px;
line-height: 27px;
padding-bottom: 25px;
}

.card .button {
background-color: #ffeebe;
color: #0a0e11;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 9px 22px;
border-radius: 30px;
transition: .4s;
}

.card .button:hover {
color: #ffeebe;
background-color: #0a0e11;
border: 2px solid #ffeebe;
cursor: pointer;
}

.contact-me {
width: 100%;
height: 150px;
padding-top: px;
background: #0a0e11;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

.contact-me p {
color: #ffeebe;
background-color: #0a0e11;
font-size: 30px;
font-weight: bold;
margin-bottom: 25px;
}

.contact-me .button-two {
background-color: #ffeebe;
color: #0a0e11;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 13px 30px;
border-radius: 30px;
transition: .6s;
}

.contact-me .button-two:hover {
color: #ffeebe;
background-color: transparent;
border: 2px solid white;
cursor: pointer;
}

footer {
position: relative;
width: 100%;
height: 400px;
background: #0a0e11;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

footer p:nth-child(1) {
font-size: 30px;
color: #ffeebe;
background-color: #0a0e11;
margin-bottom: 20px;
font-weight: bold;
}

footer p:nth-child(2) {
color: #ffeebe;
background-color: #0a0e11;
font-size: 17px;
width: 500px;
text-align: center;
line-height: 26px;
}

.social {
display: flex;
background-color: #0a0e11;
}

.social a {
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
background: #ffeebe;
border-radius: 50%;
margin: 22px 10px;
color: #0a0e11;
text-decoration: none;
font-size: 20px;
}

.social a:hover {
transform: scale(1.3);
transition: .3s;
}

.end {  
position: absolute;
color: white;
background-color: #0a0e11;
bottom: 35px;
font-size: 14px;
}

@media (max-width: 1580px) {
.container {
    width: 100%;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.button {
    border-radius: 15px;
    font-weight: bold;
    padding: 4px 20px;
    margin-top: 10px;
    display: inline-block;
    top: 8px;
    right: 16px;
}

.content {
    left: 3%;
    right: 3%;
    top: 60%;
}

html,body {
    overflow-x: hidden;     
}

.newsletter form {
    width: 100%;
}

.newsletter form input:first-child {
    padding: 14px 10px 14px 15px;
}

.about {
    padding: 50px 0px;
}

.about img {
    width: 170px;
    height: 400px;
}

.about-text h2 {
    color: #ffeebe;
    font-size: 40px;
}

.about-text {
    width: 100%;
}

section::after {
    clip-path: circle(8% at left 3%);
}

.contact-me::after {
    clip-path: circle(8% at right 44%);
}

.box {
    display: flex;
    flex-direction: column;
}

.card {
    padding: 8px 15px;
}

.card i {
    margin: 15px 0px;
}

.card .button {
    padding: 9px 20px;
}

.title h2 {
    font-size: 40px;
    width: auto;
}
}
